.participants-container {
  background: #020617;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.participants-header {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #1f2937;
  display: flex;
  justify-content: space-between;
}

/* LIST */
.participants-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* ITEM */
.participant-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 8px;
  background: #0f172a;
}

/* TEACHER */
.participant-item.teacher {
  background: #1e3a8a;
}

/* AVATAR */
.avatar {
  width: 35px;
  height: 35px;
  background: #1e293b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
}

/* INFO */
.participant-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.name {
  font-size: 14px;
}

/* RAISE HAND */
.raise {
  color: #f59e0b;
}